﻿#humidityCard{
    margin-top: 10px;
    margin-left: 0px;
}

#forecastList{
    padding-left: 40px;
}

#tempData {
    display: inline-block;
    margin-left: 50px;
    padding: 0px;

    align-content: center;
}

.list-group-item{
    padding: 0px;
}

#dateData {
    justify-content: center;
}

.list-group-item:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.showMoreTemp{
    margin-top: 0px;
}

.windAndHumid{
    margin-left: 10px;
}

#nameAndTime{
    display: inline-block;
    margin-left: 75px;
}

#buttonRow{
    margin-top: 10px;
    margin-left: 0px;
    width: 100px;
}

#editButton, #backButton, #deleteButton{
    width: 70px;
    height: 35px;
    text-align: center;
    
}

#backButton{
    display: inline-block;
}






