﻿<h3>Record: #{{location.Id}}</h3>
<div class="row">

    <div class="col-12">
        <input type="text" class="form-control" placeholder="City Name" data-ng-model="location.cityName" />
    </div>

</div>
<div class="row">
    <div class="col-6 mt-3">
        <input type="text" class="form-control" placeholder="PostCode (Optional)" data-ng-model="location.postcode" />
    </div>
    <div class="col-6 mt-3">
        <input type="text" class="form-control" placeholder="Country Code (Optional)" data-ng-model="location.countryCode" />
    </div>
</div>
<div class="row">
    <div class="col-4 mt-3">
        <input type="text" class="form-control" placeholder="Longitude (Optional)" data-ng-model="location.lon" />
    </div>
    <div class="col-4 mt-3">
        <input type="text" class="form-control" placeholder="Latitude (Optional)" data-ng-model="location.lat" />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <label for="unitSelect">Select unit: </label>
        <select id="unitSelect" class="form-control" data-ng-model="location.units">
            <option value="standard">Standard</option>
            <option value="metric">Metric</option>
            <option value="imperial">Imperial</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <button id="saveButton" data-ng-click="save(location)" class="btn btn-success mt-2">Save</button>
        <a id="cancelButton" href="#/View/{{location.Id}}" class="btn btn-warning mt-2">Cancel</a>
    </div>
</div>