﻿<div class="row">
    <div class="col-5">
        <div class="row" id="currentWeather">

            <div class="col-5">
                <div class="card" style="width: 18rem;" id="tempCard">
                    <div class="card-body">
                        <img src="https://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png" alt="weather icon" />
                        <div id="nameAndTime">
                            <h4>{{weatherData.name}}</h4>
                            <p><b>{{weatherData.dt}}</b> <br />
                               <b>{{weatherData.formatDate}}</b></p>
                            
                        </div>
                        <h5 class="card-title">Now: {{weatherData.main.temp}}{{extraData.unit}}</h5>
                        <h6>Feels like: {{weatherData.main.feels_like}}{{extraData.unit}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Max: {{weatherData.main.temp_max}}{{extraData.unit}} Min: {{weatherData.main.temp_min}}{{extraData.unit}}</h6>
                        <p class="card-text">{{weatherData.weather[0].main}} - {{weatherData.weather[0].description}}</p>
                    </div>
                </div>
            </div>



        </div>
        <br />
        <div class="row">
            <div class="col-5">
                <div class="card alert-warning" style="width: 18rem;" id="humidityCard">
                    <div class="card-body">
                        <h5 class="card-title">Wind: {{weatherData.wind.speed}} {{extraData.windSpeedUnit}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Direction: {{extraData.windDirection}}</h6>
                        <p class="card-text">Humidity: {{weatherData.main.humidity}}%</p>
                    </div>
                </div>
                              
            </div>
        </div>
        
           
            <a href="#/Edit/{{location.Id}}" class="btn btn-warning mt-2" id="editButton">Edit</a>
            <a href="#" class="btn btn-secondary ms-1 mt-2" id="backButton">Back</a>
            <a href="#" id="deleteButton" class="btn btn-danger ms-1 mt-2" data-ng-click="deleteLocation(location, $event)">Delete</a>
           

        

        </div>
    <div class="col-7" id="forecastList">
        <h6>Weekly Forecast <i>(Click records to see more...)</i></h6>

        <ul class="list-group">
            
            <li class="list-group-item" data-ng-repeat="forecast in forecasts" title="See more..."data-ng-click="showMoreInfo(forecast.dt)">
                <div id="dateDate" style="display: inline-block; margin-left: 10px;"><span>{{forecast.formatDate}}</span></div>
                <div id="tempData">
                    <img id="{{forecast.dt}}toHide" src="https://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png" alt="weather icon"/>
                    <span name="{{forecast.dt}}toHide">{{forecast.temp.max}} / {{forecast.temp.min}}{{extraData.unit}}</span>
                </div>
                <div id="{{forecast.dt}}moreInfo" style="width: inherit; height: 175px; display: none;" value="true">
                    <div>
                        <div>
                            <img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png" alt="weather icon" width="50" height="50" />

                            <div class="showMoreTemp" style="display: inline-block">
                                <p style="margin: 0px;"><b>{{forecast.weather[0].main}} - <i>{{forecast.weather[0].description}}</i></b></p>
                                <p style="margin: 0px;">Max: <b>{{forecast.temp.max}}{{extraData.unit}}</b> | Min: <b>{{forecast.temp.min}}{{extraData.unit}}</b></p>
                            </div>

                            <div class="windAndHumid">
                                <p>Wind: <b>{{forecast.wind_speed}}{{extraData.windSpeedUnit}}</b> | Dir: <b><i>{{forecast.wind_deg}}</i></b> | Humidity: <b><u>{{forecast.humidity}}%</u></b></p>
                            </div>

                            <table class="table table-sm table-danger">
                                <thead>
                                    <tr>
                                        <th>Morning</th>
                                        <th>Afternoon</th>
                                        <th>Evening</th>
                                        <th>Night</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{forecast.temp.morn}}{{extraData.unit}}</td>
                                        <td>{{forecast.temp.day}}{{extraData.unit}}</td>
                                        <td>{{forecast.temp.eve}}{{extraData.unit}}</td>
                                        <td>{{forecast.temp.night}}{{extraData.unit}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </li>
            
        </ul>

    </div>
</div>