﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="/Content/Site.css" rel="stylesheet" />
}


<h1 class="text-center"> Weather App</h1>



<div class="row" data-ng-app="weatherApp">
    <div class="col-5">
        <div class="border rounded border-primary p-1" id="locationList" data-ng-controller="listController">
            <a href="#/Edit">Add new location...</a>
            <h3 class="text-center">Saved Locations</h3>

            <div class="list-group" id="locationGroup">
                    <a class="list-group-item list-group-item-action" aria-current="true" data-ng-repeat="location in locations" id="{{location.Id}}Link" href="#/View/{{location.Id}}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" id="{{location.Id}}Name">{{location.cityName}}</h5>
                            <small id="{{location.Id}}Unit">{{location.units}}</small>
                        </div>
                        <p class="mb-1">Post-Code: <b id="{{location.Id}}Postcode">{{location.postcode}}</b> | Country-Code: <b id="{{location.Id}}CountryCode">{{location.countryCode}}</b></p>
                        <small>Lat: <i id="{{location.Id}}Lat">{{location.lat}}</i> | Lon: <i id="{{location.Id}}Lon">{{location.lon}}</i></small>
                    </a>

                </div>
            </div>
        </div>
    <div class="col-7" id="views" data-ng-controller="weatherController">

        <div data-ng-view="">

        </div>

    </div>
</div>




@section scripts
{

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>

    <script>

        var weatherApp = angular.module("weatherApp", ["ngRoute"]);

        // The routing configuration that decides which view to load and controller to use based on the url
        weatherApp.config(function ($routeProvider, $locationProvider) {
            $locationProvider.hashPrefix("");
            $routeProvider.when("/", {
                controller: "listController",
                templateUrl: "/PartialViews/PleaseSelect.html"
            })
                .when("/View/:locationId", {
                    controller: "weatherController",
                    templateUrl: "/PartialViews/WeatherView.html"
                })
                .when("/Edit/:locationId", {
                    controller: "weatherController",
                    templateUrl: "/PartialViews/Edit.html"
                })
                .when("/Edit", {
                    controller: "weatherController",
                    templateUrl: "/PartialViews/Edit.html"
                })
                .otherwise({ redirectTo: "/" });
        });
        // This controller loads all the saved locations and puts them in a list
        weatherApp.controller("listController", function ($scope, $http, $location) {

                // Ajax request to the the database to get locations
                $http.get("/api/Locations").then(function success(response) {
                    $scope.locations = response.data;
                },
                    function error(response) {
                        alert("failed to get weather data please refresh the page");
                    });
            


        })  // This controller deals with loading weather information and creating, editing and deleting locations from database
            .controller("weatherController", function ($scope, $http, $location, $routeParams) {

                $scope.extraData = {};
               
                // If the location Id exists in the url as a query parameter
                if ($routeParams.locationId) {
                    // Get that specific location
                    $http.get("/api/locations/" + $routeParams.locationId).then(function success(response) {
                        $scope.location = response.data;

                        
                        // If the user has requested to view the weather data...
                        if ($location.path().includes("/View/")) {
                            // construct the url to request OpenWeatherMap api
                            var url = constructUrl($scope.location);

                            // Get the weather data
                            getWeatherData(url);


                            // Depending on the units selected by the user set the unit text to be displayed
                            if (response.data.units == "metric") {
                                $scope.extraData["unit"] = "°C";
                                $scope.extraData["windSpeedUnit"] = "m/s";
                            }
                            else if (response.data.units == "imperial") {
                                $scope.extraData["unit"] = "°F";
                                $scope.extraData["windSpeedUnit"] = "mi/h";
                            }
                            else if (response.data.units == "standard") {
                                $scope.extraData["unit"] = "K";
                                $scope.extraData["windSpeedUnit"] = "m/s";
                            }
                        }



                    },
                        function error(response) {
                            alert("failed to get location data from database due to: " + response.data);
                        });

                }

                // This function saves and edited record and also adds new records to the database
                $scope.save = function (location) {
                    
                    if (typeof ($scope.location) != "undefined") {

                        // If a location is being edited the ID of it is already known since its how the database knows which
                        // record to update
                        if (location.Id) {
                            // Do a put request when updating
                            $http.put("/api/Locations/" + location.Id, location).then(function success() {
                                // Since the application doesn't refresh I have to manually update changed location details
                                // on screen
                                updateLocationOnScreen(location);
                                $location.path("/View/" + location.Id);
                            },
                                function error() {
                                    alert("failed to update record");
                                });
                        }
                        else {
                            // If the id is not knows that means the user is creating a new location so I do a post request
                            $http.post("/api/Locations", location).then(function success(response) {
                                // Manually add the new location to the list shown on the screen
                                addNewLocationOnScreen(response.data);
                                $location.path("/View/" + response.data.Id);
                            },
                                function error(response) {
                                    alert("Failed to add new location");
                                });

                        }
                    }
                }

                // This function updates details about a location shown on the list
                function updateLocationOnScreen(location) {
                    // Each element that represents soem location data starts with this ID
                    var idStart = "#" + location.Id;

                    // Depending on the element set its inner text to the updated location object's values
                    $(idStart + "Name").text(location.cityName);
                    $(idStart + "Unit").text(location.units);
                    $(idStart + "Postcode").text(location.postcode);
                    $(idStart + "CountryCode").text(location.countryCode);
                    $(idStart + "Lon").text(location.lon);
                    $(idStart + "Lat").text(location.lat);
                }

                // This function adds a new location to the screen
                function addNewLocationOnScreen(location) {

                    // Using jquery get the <ul> tag holding all the locations
                    var $group = $("#locationGroup");

                    // Recreate the element on screen using JQuery and add it to the page
                    var $link = $("<a>").addClass("list-group-item list-group-item-action")
                        .attr("aria-current", "true")
                        .attr("id", location.Id + "Link")
                        .attr("href", "#/View/" + location.Id)
                        .appendTo($group);

                    var $nameDiv = $("<div>").addClass("d-flex w-100 justify-content-between").appendTo($link);

                    // Adding all child elements
                    $("<h5>").addClass("mb-1").attr("id", location.Id + "Name").text(location.cityName).appendTo($nameDiv);
                    $("<small>").attr("id", location.Id + "Unit").text(location.units).appendTo($nameDiv);

                    var $postcode = $("<p>").addClass("mb-1").text("Post-Code: ").appendTo($link);
                    $("<b>").attr("id", location.Id + "Postcode").text(location.postcode).appendTo($postcode);
                    $postcode.append(" | Country-Code: ");
                    $("<b>").attr("id", location.Id + "CountryCode").text(location.countryCode).appendTo($postcode);

                    var $latLon = $("<small>").text("Lat: ").appendTo($link);
                    $("<i>").attr("id", location.Id + "Lat").text(location.lat).appendTo($latLon);
                    $latLon.append(" | Lon: ");
                    $("<i>").attr("id", location.Id + "Lon").text(location.lon).appendTo($latLon);
                }

                // Function to delete location
                $scope.deleteLocation = function (location, $event) {
                    $event.preventDefault();
                    // Give user 2nd chance before deleting
                    if (confirm("Are you sure you want to delete this location?")) {


                        $http.delete("/api/Locations/" + location.Id).then(function success(response) {
                            // If successfully deleted manually remove the location from screen
                            deleteFromScreen(response.data);
                            $location.path("/");
                        },
                            function error() {
                                alert("Failed to delete record");
                            });

                    }
                    else
                        $location.path("/View/" + location.Id);
 
                }

                // Manually delete location from screen
                function deleteFromScreen(location) {
                    $("#" + location.Id + "Link").remove();
                }
                
                // The function that actually gets the weather data from third-party api
                function getWeatherData(url) {
                    $http.get(url).then(
                        function success(response) {
                            $scope.weatherData = response.data;

                            // Get the wind direction in compass point format
                            $scope.extraData["windDirection"] = setDirectionString($scope.weatherData.wind.deg);

                            // Get the forecast for the next 7 days
                            getWeatherForecastData(response.data);

                            // Round temps
                            roundTemperatures();

                            // Extract the time from the UTC format
                            extractTime();
                        },
                        function error(response) {
                            alert("failed to get weather data " + response.status);
                        });
                }

                // Constructs the url in the api call
                function constructUrl(location) {
                    var base = "https://api.openweathermap.org/data/2.5/weather?";

                    // User can identify a location in 3 different ways, lattitude and longitude, post-code and country code, or
                    // just the location name. Longitude and latitude take 1st preference and if they are not provided
                    // post-code and country code are used as search parameters and if those arn't provided the location name is
                    // used which the user must enter to be able to add a location
                    if (location.lat && location.lon) {
                        base += "lat=" + location.lat + "&lon=" + location.lon;
                    }
                    else if (location.postcode && location.countryCode) {
                        base += "zip=" + location.postcode + "," + location.countryCode;
                    }
                    else
                    {
                        base += "q=" + location.cityName;

                        if (location.countryCode)
                            base += "," + location.countryCode;
                    }

                    base += "&units=" + location.units + "&APPID=f33248b1db16d0e5c7b72d71c699e088";

                    return base;
                }

                // Converts the wind direction degrees given in the response into compas directions
                function setDirectionString(deg) {
                    var numDeg = parseFloat(deg);

                    if (numDeg > 348.75 && numDeg <= 11.25)
                        return "N";
                    else if (numDeg > 11.25 && numDeg <= 33.75)
                        return "NNE";
                    else if (numDeg > 33.75 && numDeg <= 56.25)
                        return "NE";
                    else if (numDeg > 56.25 && numDeg <= 78.75)
                        return "ENE";
                    else if (numDeg > 78.75 && numDeg <= 101.25)
                        return "E";
                    else if (numDeg > 101.25 && numDeg <= 123.75)
                        return "ESE";
                    else if (numDeg > 123.75 && numDeg <= 146.25)
                        return "SE";
                    else if (numDeg > 146.25 && numDeg <= 168.75)
                        return "SSE";
                    else if (numDeg > 168.75 && numDeg <= 191.25)
                        return "S";
                    else if (numDeg > 191.25 && numDeg <= 213.75)
                        return "SSW";
                    else if (numDeg > 213.75 && numDeg <= 236.25)
                        return "SW";
                    else if (numDeg > 236.25 && numDeg <= 258.75)
                        return "WSW";
                    else if (numDeg > 258.75 && numDeg <= 281.25)
                        return "W";
                    else if (numDeg > 281.25 && numDeg <= 303.75)
                        return "WNW";
                    else if (numDeg > 303.75 && numDeg <= 362.25)
                        return "NW";
                    else
                        return "NNW";

                }

                // Gets the actual forecast data
                function getWeatherForecastData(currentWeatherData)
                {
                    var lat;
                    var lon;

                    // Checks to see if the user has entered their own custom coordinates and if so, uses those in the api call
                    if ($scope.location.lat && $scope.location.lon) {
                        lat = $scope.location.lat;
                        lon = $scope.location.lon;
                    }
                    // else we use the coordinates sent back by openweathermap that guesses the coordinates based on the location
                    // name, postcode etc...
                    else {
                        lat = currentWeatherData.coord.lat;
                        lon = currentWeatherData.coord.lon;
                    }

                    $http.get("https://api.openweathermap.org/data/2.5/onecall?lat=" + lat + "&lon=" + lon + "&exclude=current,hourly,minutely,alerts&units=" + $scope.location.units + "&APPID=f33248b1db16d0e5c7b72d71c699e088").then(
                        function success(response) {
                            $scope.forecasts = response.data.daily;
                            extractForecastDates();
                        },
                        function error(response) {
                            alert("failed to get forecast data");
                        });
                }

                // Array of months and says needed to extract the date information returned in UTC format
                var days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"];
                var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                function extractForecastDates() {

                    // Loop through the forecasts for diffrent days
                    for (let i = 0; i < $scope.forecasts.length; ++i) {


                        // Create a new date object from the returned UTC time
                        var currentDate = new Date($scope.forecasts[i].dt * 1000);

                        // Extract date, day and month. Day and month are returned as array indexes
                        // which can then be used to ge the month and day names from the arrays above
                        var date = currentDate.getDate();
                        var day = days[currentDate.getDay()];
                        var month = months[currentDate.getMonth()];

                        // Add the string to the page
                        var dateString = day + ", " + month + " " + date;
                        $scope.forecasts[i]["formatDate"] = dateString;
                       

                        // Since I am looping through all the forecasts, round all the temperature and wind speed values
                        // Also convert the wind direction degrees to compass points
                        $scope.forecasts[i].temp.max = Math.round($scope.forecasts[i].temp.max);
                        $scope.forecasts[i].temp.min = Math.round($scope.forecasts[i].temp.min);
                        $scope.forecasts[i].temp.morn = Math.round($scope.forecasts[i].temp.morn);
                        $scope.forecasts[i].temp.day = Math.round($scope.forecasts[i].temp.day);
                        $scope.forecasts[i].temp.eve = Math.round($scope.forecasts[i].temp.eve);
                        $scope.forecasts[i].temp.night = Math.round($scope.forecasts[i].temp.night);
                        $scope.forecasts[i].wind_deg = setDirectionString($scope.forecasts[i].wind_deg);
                        $scope.forecasts[i].wind_speed = Math.round($scope.forecasts[i].wind_speed);

                    }
                }

                // Calculate time of the location the user has saved
                function extractTime() {
                    

                    
                    
                    var currentDate = new Date();

                    // Get the current time
                    var localTime = currentDate.getTime();

                    // Get the offset from utc
                    var localOffset = currentDate.getTimezoneOffset() * 60000;

                    // Calculate the utc by subtracting offset from current time
                    var utc = localTime + localOffset;

                    // The time of the chosen location is utc +/- the timezone data sent back by the openweathermap server
                    var targetTime = utc + (1000 * $scope.weatherData.timezone);

                    var date = new Date(targetTime);

                    // Extract the hors and minutes from the new date
                    var hours = date.getHours();
                    var minutes = date.getMinutes();

                    // Format the hours and minutes to how I want to display them and then add them to the page
                    if (minutes < 10)
                        minutes = "0" + minutes;

                    if (hours > 12) {
                        $scope.weatherData.dt = (hours-12) + ":" + minutes + " PM";
                    }
                    else {
                        if (hours == 0)
                            hours = 12;
                        $scope.weatherData.dt = hours + ":" + minutes + " AM";
                    }

                    // Extract the date, day and month of the locaiton and dsiplay to the page
                    var d = date.getDate();
                    var day = days[date.getDay()];
                    var month = months[date.getMonth()];

                    var dateString = day + ", " + month + " " + d;
                    $scope.weatherData["formatDate"] = dateString;
                }

                // If the user clicks on one of the forecast data list items it expand to show more information
                // about the weather on that day
                $scope.showMoreInfo = function (uniqueTimestamp) {


                    var divId = "#" + uniqueTimestamp + "moreInfo";
                    var $hiddenElement = $("span[name='" + uniqueTimestamp + "toHide" + "']");
                    var $hiddenImage = $("#" + uniqueTimestamp + "toHide");

                    // Control what elements are shown depending on whether or not the user has clicked forecast information or not
                    if ($(divId).val() == "true") {
                        $(divId).slideUp("fast");
                        $(divId).val("false");
                        $hiddenElement.removeAttr("hidden");
                        $hiddenImage.removeAttr("hidden");
                        
                    }
                    else {
                        $(divId).slideDown("fast");
                        $(divId).val("true");
                        $hiddenElement.attr("hidden", "");
                        $hiddenImage.attr("hidden", "");
                    }
                    
                    //console.log(divId);
                };

                // Rounds today's temperatures
                function roundTemperatures() {
                    $scope.weatherData.main.temp = Math.round($scope.weatherData.main.temp);
                    $scope.weatherData.main.feels_like = Math.round($scope.weatherData.main.feels_like);
                    $scope.weatherData.main.temp_min = Math.round($scope.weatherData.main.temp_min);
                    $scope.weatherData.main.temp_max = Math.round($scope.weatherData.main.temp_max);
                }

            });

        


    </script>

}